.banner {
	background-image: url('../img/banner.png');
	height: 680px;
	background-size: cover;
}
.hexagon {
  position: relative;
  height: 250px;
  width: 250px;
  background: black;
  margin-top: -80px;
  margin-left: 40px;
}
.hexagon:before, .double:after {
  position: absolute;
  content: '';
}
.hexagon:before {
  top: 4px; 
  left: 4px;  
  height: calc(100% - 8px);  
  width: calc(100% - 8px); 
  background: transparent;
}
.hexagon, .hexagon:before, .double:after {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.image:before {
  background: url(../img/ae62425f9b7f90864435499de50d5afd.jpeg);
  background-size: cover;
  background-position: 36% 100%;
}

.container {
	max-width: 900px;
}
.banner:before {
	content: "";
	position: absolute;
	background-color: #000;
	opacity: 0.4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 680px;
}
.banner .navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-size: 12px;
}
.banner .navbar .get_link {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding-right: 20px;
}
.banner .navbar .contact_btn {
	font-size: 12px;
	padding: 10px 20px;
	border-radius: 0;
}
.banner .navbar {
	padding: 30px 0;
}
.header_banner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.header_banner h1 {
	color: #fff;
	max-width: 700px;
	font-size: 43px;
}
.header_banner a {
	color: red;
	background-color: #fff;
	margin-top: 30px;
	padding: 10px 25px;
	font-size: 12px;
	font-weight: bold;
}
.speciality_section span {
	color: red;
}
.speciality_section .speciality_text {
	font-size: 18px;
	padding: 40px 0;
}
.hexagon1 span {
	position: absolute;
	display: block;
	float:left;
	border-left: 140px solid #fff;
	border-right: 140px solid #fff;
}

.top1 {
	top: 0;
	border-top: 0px solid transparent;
	border-bottom: 75px solid transparent;
}

.bottom1{
	bottom: 0px;
	border-bottom: 0px solid transparent;
	border-top: 75px solid transparent;
}
.navbar-toggler {
	position: absolute;
	top: 20px;
	right: 20px;
}
.hexagon1 {
	background: url("../img/ae62425f9b7f90864435499de50d5afd.jpeg");
	width: 280px;
	height: 295px;
	position: relative;
	display: inline-block;
	background-size: cover;
	background-position: center;
	margin-top: -100px;
}
.success_stories {
	padding: 70px 0;
}
.success_stories .success_heading {
	font-size: 60px;
	text-align: right;
	padding-right: 10px;
	font-weight: 300;
	line-height: 55px;
}
.success_stories .container {
	max-width: 1100px
}
.success_stories .success_right {
	border-right: 1px solid #000;
	margin-left: -30px;
	margin-right: 30px;
	display: flex;
	align-items: center;
}
.success_stories span {
	color: #be0005;
}
.success_stories .success_content {
	position: absolute;
	z-index: 99;
}
.experience_section p {
	font-size: 12px;
	color: #fff;
}
.experience_section h4 {
	color: #fff;
}
.experience_section .experience_content {
	background-color: #CD1717;
	padding: 70px 60px;
}
.experience_section .row .col-lg-6 {
	padding: 0;
}
.experience_section img {
	height: 334px;
	object-fit: cover;
}
.opportunities_section span {
	color: red;
}
.opportunities_section.opportunities_section h2 {
	font-size: 50px;
	margin-bottom: 30px;
}

.opportunities_section .hexagon {
  position: relative;
  height: 250px;
  width: 250px;
  background: black;
  top: 80px;
}
.hexagon:before, .double:after {
  position: absolute;
  content: '';
}
.opportunities_section .hexagon:before {
  top: 4px;  
  left: 4px;  
  height: calc(100% - 8px);  
  width: calc(100% - 8px);  
  background: #fff;
}
.hexagon, .hexagon:before, .double:after {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.opportunities_section {
	padding: 50px 0;
}
.opportunities_section .opportunities_text {
	text-align: center;
	font-size: 18px;
	max-width: 665px;
	margin: 50px auto 0;
}
.opportunities_section .opportunities {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.opportunities_section .opportunities p {
	margin-bottom: 0;
}
.get_section {
	background-image: url(../img/c68f78b50259564b45a8244e09c96862.jpeg);
	height: 300px;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
}
.get_section p {
	margin-bottom: 0;
	color: #fff;
	position: relative;
	font-size: 20px;
}
.get_section:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.5;
	height: 300px;
}
.get_section .btn {
	background-color: #fff;
	position: relative;
	color: red;
	font-size: 14px;
	padding: 15px 25px;
}
.get_section .col-lg-4 {
	display: flex;
	justify-content: flex-end;
}
.hexagon-v2 {
  position: relative;
  width: 250px; 
  height: 144.34px;
  background-color: #ffffff;
  margin: 72.17px 0;
  border-left: solid 10px #ea9c49;
  border-right: solid 10px #ea9c49;
}

.hexagon-v2:before,
.hexagon-v2:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 176.78px;
  height: 176.78px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 26.6117px;
}

.hexagon-v2:before {
  top: -88.3883px;
  border-top: solid 14.1421px #ea9c49;
  border-right: solid 14.1421px #ea9c49;
}

.hexagon-v2:after {
  bottom: -88.3883px;
  border-bottom: solid 14.1421px #ea9c49;
  border-left: solid 14.1421px #ea9c49;
}


.hexagon-v3 {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #ffffff;
  margin: 57.74px 0;
  border-left: solid 10px #be0005;
  border-right: solid 10px #be0005;
}

.hexagon-v3:before,
.hexagon-v3:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 19.2893px;
}

.hexagon-v3:before {
  top: -70.7107px;
  border-top: solid 14.1421px #be0005;
  border-right: solid 14.1421px #be0005;
}

.hexagon-v3:after {
  bottom: -70.7107px;
  border-bottom: solid 14.1421px #be0005;
  border-left: solid 14.1421px #be0005;
}
.footer svg {
	height: 30px;
	width: 30px;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer ul li {
	font-size: 12px;
}
.footer .footer_logo {
	width: 70%;
	object-fit: cover;
}
.footer .col-lg-4 {
	margin-top: -15px;
}
.footer p {
	font-size: 12px;
}
.footer h4 {
	font-size: 20px;
	margin-bottom: 20px;
}
.footer {
	padding: 50px 0;
}
.copyright_section {
	background-color: lightgray;
	padding: 10px 0;
}
.copyright_section p {
	margin-bottom: 0;
}
@media (max-width: 991px) {
	.banner .navbar-nav {
		background-color: #fff;
	}
	.banner .navbar-dark .navbar-nav .nav-link {
		color: #000;
	}
	.banner .navbar {
		padding: 0;
	}
	.banner .container-fluid {
		padding: 0;
	}
	.hexagon {
		margin-top: 0;
		margin: 0 auto;
		margin-bottom: 50px
	}
	.hexagon-v3 {
		margin: 80px auto 0;
	}
	.success_stories .success_right {
		margin: 0;
	}
	.hexagon-v2 {
		margin: 80px auto 0;
	}
	.opportunities_section .opportunities_text {
		margin-top: 70px;
	}
}
@media (max-width: 768px) {
	.footer .col-lg-2, .footer .col-lg-4 {
		text-align: center;
	}
	.opportunities_section span {
		font-size: 30px;
	}
}